body {background-color:  #FFFFFF; color: #434455; 
font-family: 'Roboto', sans-serif;
    }
.header {
    background-color: #FFFFFF;}
ul {list-style-type: none;}
.heder-nav {}

.logo {color:  #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;}

.header-dark {color:  #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;}

.header-list {}

.item-list {}

.link:hover,
.link:focus {color:  #404BBF;
    /* Body Medium */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;}

.link {color: var(--NAVY-BLUE, #2E2F42);
    /* Body Medium */
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;}

 

.heder-contat {font-style: normal}

.list-contact {}

.item-contact {}
.link :focus, :hover {color:  #2E2F42;
    /* Body Medium */
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    }
.link-mail:hover 
.link-mail:focus
.link-cont:hover {color: #404BBF;
    /* Текст */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    font-style: normal
}
.link-contact, .link-mail {color:  #434455;

    /* Body */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;}
.link-contact:hover,
.link-contact:focus {
    color: #404BBF;
    /* Текст */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;

}
.min-section {
    flex-shrink: 0;border: 1px solid #000;
    background:  #2E2F42;}

.main-title { color: #FFF;
    text-align: center;

    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 1.12px;}

.main-button {color:  #FFF;

    /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: inline-flex;
  

   
        background:  #4D5AE5; color: #FFF;

/* Button Text */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.64px;
       }
.main-button:hover,:focus {color:  #FFF;
    /* Button Text */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.64px;cursor: pointer;
    background:  #404BBF;
     }
    

       
.main-plan {background: #FFF;}

.main-subtitle {color:  #2E2F42;
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;}

.main-list {}

.main-item {}

.main-h {color:  #2E2F42;

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;}

.main-p {color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;}

.section-photo {background:  #F4F4FD;}
.main-subtitle-photo { color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;line-height: 1.11}
.section-photo-list {}

.photo-item {}

.photo {}

.photo-h {color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;}

.photo-p {color: var(--SLATE, #434455);
    text-align: center;

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;}

.section-images {background-color: #FFFFFF}
.main-subtitle-images { color:  #2E2F42;
text-align: center;

/* Header 2 */
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;line-height: 1.11} 

.images-list {background-color: #FFFFFF}

.images-item {background-color: #FFFFFF}

.images {}

.images-h {color: var(--NAVY-BLUE, #2E2F42);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.4px;}

.images-p {color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;}
.footer {
    flex-shrink: 0;background:  #2E2F42;}

.footer-logo {color:  #4D5AE5;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;}

.logo-white {color:  #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;}

.footer-p {color:  #F4F4FD;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;}